* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #7895CB;
}

.center {
  width: 70rem;
  margin: auto;
}

header {
  font-size: 5rem;
  margin: 2rem auto;
  text-align: center;
  font-weight: bold;
  color: hsl(233, 37%, 30%);
}

form {
  display: flex;
}

input[type="text"] {
  flex-grow: 2;
  font-size: 2rem;
  padding: 1rem;
  border-radius: .4rem;
  border: 1px solid #aaa;
  box-shadow: 0 0 2rem 0 #4A55A2;
}

input[type="submit"] {
  padding: 1rem;
  font-size: 1.6rem;
  margin-left: 1rem;
  background: #4A55A2;
  color: white;
  border: none;
  box-shadow: 0 0 1rem 0 #4A55A2;
}

ul {
  list-style: none;
}

.todo {
  width: 100%;
  font-size: 2rem;
  margin: 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: .5rem;
  box-shadow: 0 0 2rem 0 #4A55A2;
  padding: .5rem;
  background-color: #C5DFF8;
}

.todo > * {
  margin: .5rem;
}

.content {
  flex-grow: 2;
  height: 3rem;
  line-height: 3rem;
  border-right: 1px solid #ccc;
  overflow: hidden;
}

.todo button {
  width: 3rem;
  height: 3rem;
}

.status {
  font-size: 2rem;
  background: white;
  color: white;
  border: 1px solid #28a745;
  transition-duration: .5s;
}

button:hover, input[type="submit"]:hover {
  cursor: pointer;
}

.done .content {
  text-decoration: line-through;
}

.done .status {
  background: #28a745;
}

.remove {
  font-size: 1.6rem;
  color: white;
  background: #dc3545;
  border: none;
}

footer {
  margin: 1.5rem auto;
  text-align: center;
}
